/* .error{
	font-size: 20px;
	color:green;
	border-radius:5px;
	background-color: lightgray;
	padding:10px;
	border: 3px solid green;
	margin: 10px;

}
.accepted{
	font-size: 20px;
	color:green;
	border-radius:5px;
	background-color: lightgray;
	padding:10px;
	border: 3px solid green;
	margin: 10px;
}

.displayNothing{
	display: none;
} */